@import "tailwindcss/index.css";

@theme inline{
  /* Fondos */
  --color-background:       #1A1A1A;
  --color-surface:          #222222;
  --color-surface-elevated: #2A2A2A;
  --color-border:           #333333;

  /* Texto */
  --color-ivory:            #F0EDE8;
  --color-muted:            #8A8A8A;

  /* Acento-Resaltado */
  --color-amber:            #E8A020;
  --color-amber-dim:        rgba(232, 160, 32, 0.12);

  /* Tipografía */
  --font-sans:             'Inter', sans-serif;
  --font-display:          'Playfair Display', serif;
}

@layer base {
  html{
    background-color: var(--color-background);
    color: var(--color-ivory);
  }

 * {
    box-sizing: border-box;
    border-color: var(--color-border);
  }
}

@layer base {
  .custom-scrollbar::-webkit-scrollbar {
    height: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: var(--color-surface);
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: var(--color-border);
    border-radius: 999px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--color-amber);
  }

  @media (max-width: 640px) {
    .custom-scrollbar::-webkit-scrollbar {
      display: none;
    }
  }
}